@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--primary);
}

:root {
  --primary: rgb(39, 38, 44);
}

body {
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.router {
  flex-grow: 1;
}

header,
footer {
  margin: 1.5rem 1rem;
}

.nav-link {
  margin: 0 1.5rem;
  text-decoration: none;
}

h1 {
  margin: 1rem;
}

.product-list > li {
  margin: 0.5rem;
}

.active {
  font-weight: bold;
}
